body{
    margin: 0;
    overflow: hidden;
    background-color: var(--color3);
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

.moving {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: block;
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    animation-duration: var(--duration);
    animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }


.container{
    display: flex;
    position: absolute;
    width: 100vw;
    flex-wrap: wrap;
}

:root{
    --color1: purple;
    --color2: orange;
    --color3:red;
    --color4:blue;
    --duration:1s;
}

/* The animation code */
@keyframes move {
    0% {
        background-color: var(--color1);
    }

    50% {
        background-color: var(--color2);
    }
    75% {
        background-color: var(--color2);
    }
    100% {
        background-color: var(--color1);
    }
}

@keyframes changed {
    0% {
        background-color: var(--color1);
    }

    50% {
        background-color: var(--color2);
    }
    75% {
        background-color: var(--color2);
    }
    100% {
        background-color: var(--color1);
    }
}